<div class="date pull-right">
  <span class="light">Due Date:</span> {{ parseDate dueDate }}
</div>

<h3>{{name}}</h3>
<span class="label {{ toLowerCase status }}">{{ status }}</span>
<p>
  {{description}}
</p>
<div class="date">
  <span class="light">Creation Date:</span> {{ parseDate creationDate }}
</div>


<div class="actions">
  <div class="btn-group">
    <button class="js-removeTask tooltiped btn btn-default"
            data-toggle="tooltip"
            data-placement="top"
            title="Remove">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
    {{#ifCond status "ToDo"}}
      <button class="js-finishTask tooltiped btn btn-default"
              data-toggle="tooltip"
              data-placement="top"
              title="Finish">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
    {{/ifCond}}
  </div>
</div>